testdemo/src/main/mule/testdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="68be783c-fd2e-4749-8767-eeb4d1c38779" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="26e50505-7567-49b6-9604-3387dc44d53d" >
		<db:my-sql-connection host="congo.c3w6upfzlwwe.us-west-1.rds.amazonaws.com" port="3306" user="mulesoft" password="mulesoft" database="congo" />
	</db:config>
	<flow name="testdemoFlow" doc:id="a2493508-0b1f-4d55-ba91-323a1fab3a5d" >
		<http:listener doc:name="Listener" doc:id="7f88360c-ea20-4376-8b05-7ac3c2acb716" config-ref="HTTP_Listener_config" path="/submit"/>
		<db:select doc:name="Select" doc:id="377f7366-1119-411b-a9ce-06f65e7a245f" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM contacts;]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="ea9a7ce4-dbd2-4398-9742-44572aed9130" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="46ea98c8-29da-4e21-9cb9-4ca19edd435e" message="#[payload]"/>
	</flow>
</mule>
